#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: black;
}

.button-pop {
  font-size: 40px;
  color: #d4d2d2;
  font-weight: 20;
  border: none;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.button-pop-out {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
